.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: auto;
  margin-left: 30px;
}
.headerContainer h1{


}

.home .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.home .headerContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 70px;
  width: 180px;
  text-decoration: none;
  color: rgb(238, 230, 21);
  font-size: 20px;
  background-color: transparent; /* Set the background color to transparent */
  outline: none; /* Remove the default button outline */
}
.headerContainer button:hover {
 
  cursor: pointer;
  transition: 0.7s ease-in;
  font-size: 37px;
  color: rgb(238, 169, 21);


}

/* mobile view  */

@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer button {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    text-decoration: none;
    color: black;
    font-size: 20px;
     /* Add this line to make the button background transparent */
  }
  .home .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    margin: 30px 0px;
    
  }
  .headerContainer h1{
    text-align: center;
  }
  .home .headerContainer p {
    font-size: 30px;
  }
  .headerContainer button {
  
    margin-bottom: 30px;
  }
  /* Custom CSS for the About component */
.pc{
 text-align: center;
}


}
